.actions-background {
    background-repeat: no-repeat;
    background-image: url("../../assets/Actions/Background.png");
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.actions-header {
    font-size: 40px;
    font-family: MonAmourFraktur-Broken;
    color: white;
}

.action-background {
    background-repeat: no-repeat;
    background-image: url("../../assets/Actions/ActionHolder.png");
    background-size: 100% 100%;
    background-position: center;
    width: 70%;
    margin: auto;
    min-height: 42px;

}

.action-name {
    font-family: Alegreya;
    font-size: 18px;
    align-self: center;
    margin: 10px;
    float: left;
    line-height: 22px;
}

.action-dice {
    height: 22px;
    float: right;
    margin: 10px;
}

.action-modal {
    min-height: 470px;
    padding-top: 25%;
    margin: 10px 10px;
}