.modal-background {
    min-width: 320px;
    max-width: 500px;
    min-height: 400px;
    border: none;
    z-index: 1;
    margin: 60px auto auto;
}

.modal-inner {
    border: none !important;
    background: url("../../assets/Modal/Modal_Body.png");
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-position: center !important;
}

.modal-background:focus {
    outline: 0 !important;
}

.dark-overlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-header {
    min-height: 200px;
    border: none !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    margin-bottom: -20px;
}

.modal-item {
    background: url("../../assets/Modal/Modal_Item-Header.png");
}

.modal-attack {
    background: url("../../assets/Modal/Modal_Attack_Header.png");
}

.modal-stat {
    background: url("../../assets/Modal/Modal_Stat_Header.png");
}

.modal-cast {
    background: url("../../assets/Modal/Modal_Scroll_Header.png");
}

.modal__close {
    margin-left: auto;
    margin-bottom: 20px;
}
