.modal-background {
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-position: center !important;
    min-width: 320px;
    max-width: 500px;
    min-height: 400px;
    margin: auto;
    border: none;
}

.modal-inner {
    padding-bottom: 10px;
    margin-top: 20%;
    padding-top: 150px;
    border: none !important;

}

.modal-background:focus {
    outline: 0 !important;
}

.dark-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-item {
    background: url("../../assets/Modal/Modal_Item.png");
}

.modal-attack {
    background: url("../../assets/Modal/Modal_Attack.png");
}

.modal-stat {
    background: url("../../assets/Modal/Modal_Stat.png");
}