.modal-background {
    background: url("../../assets/Modal/Background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    min-width: 320px;
    max-width: 500px;
    min-height: 400px;
    margin: auto;
    border: none;
}

.modal-inner {
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 20%;
    padding-top: 35%;

}

.dark-overlay {
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.75);
}
