.App {
  text-align: center;
}

#root {
  height: 100%;
  max-width: 1333px;
}

.page {
  overflow: auto;
  padding: 0px;
  max-width: 1333px;
}

html  {
  height: 100%;
  width: 100%;
  overflow: auto;
  max-width: 1333px;
  margin: auto;
  background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 1));
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 1));
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: auto;
  max-width: 1333px;
}

.yellow-outline {
  text-shadow: -1px -1px 0 #ffea00, 1px -1px 0 #ffea00, -1px 1px 0 #ffea00, 1px 1px 0 #ffea00;
}
