.reverse {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.ammo-container {
    font-family: MonAmourFraktur-Broken;
    display: flex;
    flex-direction: column;
}

.ammo-main {
    font-size: 22px;
    flex-direction: row;
    justify-content: center;

}

.ammo-header {
    font-size: 32px;
    justify-content: center;
}

.ammo-value {
    text-align: center;
}

.ammo-more {
    float: right;
}

.ammo-less {
    float: left;
}